body {
  margin: 0;
  font-family: "Press Start 2P", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  height: 100vh;
  width: 100vw;
  overflow-x:hidden;
  background-color: #000;
  color: #31c110;
}

a{
  color: #48fb00;
  text-decoration:underline;
}

a:hover{
  color: #31c110;
}
.home-content{
  padding-top:10px;
}
#allPiecesButton img{
  content:url("/image.png");
  display:inline;
  margin-right:15px;
}
#restartButton img{
  content:url("/exit.png");
  display:inline;
}
.topnav{
  position:absolute;
  top:0px;
  right:25px;
  font-size:2.5em;
  cursor:pointer;

}
.gallery-content{
  border: solid 3px #31c110;
  width:900px;
  height:675px;
  margin: 0 auto;
  overflow:hidden;
}
#gallery-scene{
  padding-top:5%;
  width:100%;
  height:100%;
  background-image: url("/imgs/scenes/front.png");
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

#welcome .welcome-instructions{
  border: solid 2px #31c110;
  width: max-content;
  max-width:96%;
  margin:0 auto;
  padding: 3px 5px;
  background:#000;
  animation: 1.5s fadeIn;
  animation-delay:1000ms;
  animation-fill-mode: forwards;
  visibility: hidden;
}
#welcome .welcome-character-selection{
  animation: 1.5s fadeIn;
  animation-delay:2000ms;
  animation-fill-mode: forwards;

  visibility: hidden;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      visibility: visible;
      opacity: 1;
   }
}

@keyframes fadeOut {
  0% {
      opacity: 1;
  }
  100% {
      visibility: hidden;
      opacity: 0;
   }
}

@keyframes zoom-in {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(50, 50);
  }
}

@keyframes zoom-out {
  0% {
    transform: scale(50, 50);
  }
  100% {
    transform: scale(1, 1);
  }
}

#welcome .welcome-character-selection img{
  border-radius: 50%;
  max-width:75px;
}
#welcome .welcome-character-selection img:hover{
  border: solid 3px #31c110;
  transform:scale(1.2);
}

#welcome #charBradButton img{
  content:url("/imgs/characters/brad.png");
  display:inline;
  margin-right:15px;
}

#welcome #charKadenseButton img{
  content:url("/imgs/characters/kadense.png");
  display:inline;
  margin-right:15px;
}
#welcome #charMooMooButton img{
  content:url("/imgs/characters/moomoo.png");
  display:inline;
  margin-right:15px;
}
#welcome #charQuincyButton img{
  content:url("/imgs/characters/quincy.png");
  display:inline;
  margin-right:15px;
}
#welcome #charTopoButton img{
  content:url("/imgs/characters/topo.png");
  display:inline;
  margin-right:15px;
}
#welcome #charAnonButton img{
  content:url("/imgs/characters/anon.png");
  display:inline;
}

#room{
  width:96%;
  height:95%;
  margin:2%;
  display:none;
  position:relative;
}

#room #room-wrapper{
  width:60%;
  margin-top:2%;
  margin-left:30%;
  float:left;
  z-index:5;
}

#room #room-image-wrapper{
  display:none;
  width:60%;
  margin-left:3%;
  margin-right:3%;
  margin-top:2%;
  float:left;
}

#room #room-image-wrapper img{
  max-width:100%;
  max-height:500px;
}

#room #room-instructions{
  border: solid 2px #31c110;
  position:relative;
  width:max-content;
  max-width:98%;
  padding: 3px 5px;
  background:#000;
  display:none;
}
#room #room-actions-label{
  display:none;
  border: solid 2px #000;
  background:#31c110;
  color:#000;
  padding: 3px 5px;
}

#room #room-action1, #room #room-action2{
  border: solid 2px #31c110;
  position:relative;
  margin:10px 25px 0 0;
  padding: 3px 5px;
  background:#000;
  display:none;
  cursor:pointer;
}
#room #room-action1:hover, #room #room-action2:hover{
  border: solid 2px #000;
  background:#31c110;
  color:#000;
}

#room #hud-wrapper{
  visibility:hidden;
  position:absolute;
  bottom:-10%;
  left:85%;
  z-index:0;
}

#room #room-image-wrapper img{
  max-width:100%;
}

/* 
.home-content, .join-content, .container{
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}



a{
  color: #48fb00;
  text-decoration:none
}

a:hover{
  text-decoration:underline;
}



.navMenuOption{
  line-height: 0.9em;
  margin-bottom:10px;
}

.navMenu span{
  display:inline-block;
  max-width:32px;
}


#navBtn img{
  content:url("/menu-black.png");
}


#navBtn img:hover{
  content:url("/menu-blue.png");
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #0a0a0a;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  font-weight: bold;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #31c110;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #48fb00;
}


.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 36px;
  margin-right: 50px;
  padding-left: 8px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.right-content{
  float:left;
	width: 60%;
	clear: none;
	float: none;
  margin: 0 5% 0 35%;
	display:block;
	padding-top: 50px;
  text-transform: uppercase;
}

.left-content{
  float:left;
	width: 60%;
	clear: none;
  margin: 0 0 0 5%;
	display:block;
	padding-top: 50px;
  text-transform: uppercase;
}

@media all and (max-width: 1050px) {
  .left-home-image, .right-join-image{
    width:90%;
    float:left;
    margin: 0 5% 0 5%;
    text-align:center;
  }
  .left-home-image img, .right-join-image img{
    max-width:300px;
  }
  .right-content, .left-content{
    float:left;
    width: 90%;
    margin: 0 5% 0 5%;
  }
}

@media all and (max-width: 767px) {
  .navMenu{
    top:25px;
    font-size:1.75em;
  }
  .navMenu span{
    max-width:26px;
  }
  .siteHeader{
    font-size:1.75em;
  }
}

@media all and (max-width: 500px) {
  .navMenu{
    top:27px;
    font-size:1.25em;
  }
  .siteHeader{
    font-size:1.25em;
  }
} */